@import 'utils';

.main {width: 50%;margin-left: 0;min-height: 30px;background: yellow;float: left;}
.header{margin: 4rem;}
.title {width: 100%;font-size: 4rem;font-weight: 700;text-align: center;}
.sub-title {width: 100%;font-size: 2rem;font-weight: 300;text-align: center;}

.article-box-wrapper {
  width: 50%;
}
.article-box {
  max-width: 100%;
  background: gainsboro;
  display: inline-block;
  padding: 10px;
  margin: -92px 30px;
  border-radius: 8px;
}
.article-title {
  font-size: 2rem;
  font-weight: 500;
}
.article-url {

}
.article-node {
  margin: 0 auto;
  border: 6px solid #333333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.article-branch {
  margin: -2px auto;
  width: 8px;
  background: #333333;
  height: 80px;
}
.article-tip {
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 20px solid transparent;
  margin: -92px 10px;
}
