@import 'utils';

.main {width: 50%;margin-left: 0;min-height: 30px;float: left;}
.header{margin: 4rem;}
.title {width: 100%;font-size: 4rem;font-weight: 700;text-align: center;
  text-decoration: underline; text-decoration-color: $main-color;}
.sub-title {width: 100%;font-size: 2rem;font-weight: 300;text-align: center;}
.issue-category {
  padding-top: 1rem;
  color: $main-color;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.article-box-wrapper {
  width: 50%;
  padding: 0 30px;
}
.article-box {
  max-width: 100%;
  background: gainsboro;
  display: inline-block;
  padding: 10px;
  margin: -92px 0;
  border-radius: 8px;
  cursor: pointer;
}
.article-title {
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  overflow:hidden;
}
.article-url {
  height: 20px;
  font-family: consolas, monospace;
  color: blue;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 2px 0 2px;
}
.article-node {
  margin: 0 auto;
  border: 6px solid #333333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.article-branch {
  margin: -2px auto;
  width: 8px;
  background: #333333;
  height: 80px;
}
.article-tip {
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 20px solid transparent;
  margin: -92px -20px;
}
.article-time {
  line-height: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  position: absolute;
  text-decoration: underline; text-decoration-color: $main-color;
}
.time-rapper {
  width: 50%;
  margin: -100px -20px;
  font-size: 2rem;
}
