@import 'utils';

.main {width: 50%;margin-left: 0;min-height: 30px;background: yellow;float: left;}
.header{margin: 4rem;}
.title {width: 100%;font-size: 4rem;font-weight: 700;text-align: center;}
.sub-title {width: 100%;font-size: 2rem;font-weight: 300;text-align: center;}

.article-box-wrapper {
}
.article-box {
  background: brown;
  display: inline-block;
  padding: 10px;
}
.article-title {
  font-size: 2rem;
  font-weight: 500;
}
.article-url {

}
.article-node {
  margin: 0 auto;
  border: 6px solid #333333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.article-branch {
  margin: 0 auto;
  width: 6px;
  background: #333333;
  height: 80px;
}
